:root {
  --bg-black: #19191b;
  --bg-gray: #f2f2f2;
  --bg-pink: #ffd1d2;
  --bg-green: #c8e675;
  --bg-blue: #d7ecfb;
  --bg-yellow: #fff099;
}

@font-face {
  font-family: metropolice;
  src: url(../fonts/Metropolis-ExtraLight.otf);
}

*{
  font-family: metropolice;
}